<div class="header">
  <img src="assets/images/logo.png" alt="United Theranostics">
  <h1>Upcoming Infusions</h1>
  <div style="width: 200px;"></div>
</div>

<div class="table-container">
    <table class="visit-data-table">
      <thead>
        <tr>
          <th>First Name</th>
          <th>Last Name</th>
          <th>DOB</th>
          <th>Subject ID</th>
          <th>Visit</th>
          <th>Forms</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let row of visitData">
          <td>{{row.first_name}}</td>
          <td>{{row.last_name}}</td>
          <td>{{row.dob.split("T")[0]}}</td>
          <td>{{row.patient_id}}</td>
          <td>{{row.visit_name}}</td>
          <td class="form-buttons">
            <button (click)="onWDClick(row)">WD</button>
            <button (click)="onVolCalcClick(row)">Vol Calc</button>
            <button (click)="onSMITClick(row)">SMIT</button>
            <button (click)="onSLipClick(row)">Syringe</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>